.label-container {
  background: rgba(229, 229, 229, 0.49);
  border: 0.5px #dadada solid;
  height: 40px;
  display: flex;
  align-items: center;
  border-right-width: 0px;
  max-width: 20vw;
}

.label-text {
  color: black;
  font-size: 14px;
  font-family: Glacial Indifference;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: 10px;
}
